@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: none;
}

@layer base {
  body {
    @apply text-white;
  }
  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-3xl font-bold;
  }
  h5 {
    @apply font-bold text-xl overflow-hidden;
  }
  img {
    @apply z-20;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.main-content {
  height: calc(100% - 120px);
}
